.Server-item{
    box-shadow: 2px 2px 2px white;
    width: 450px;
    border: 1px solid white;
    border-radius: 10px;
}


.Server-one{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}


.Server-item img{
    width: 400px;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Server-item p{
    padding: 10px;
    font-size: 15px;
    text-align: justify;
}

.Server-item button{
    background: white;
color: rgb(0, 128, 43);
text-align: justify;
}